<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      With a background in art from high school and a love for stats and data analytics in college, 
      I’ve found that I excel in B2B sales, where my outgoing personality shines. 
      I thrive on connecting with people, hearing their stories, and teaming up to grow their businesses. 
      It’s the kind of work that keeps me energized and there’s nothing more rewarding than seeing my clients succeed with my support. 
      <br>
      <strong>In my free time, </strong> 
      you’ll likely find me skiing, snowboarding, backpacking, or swaying in my hammock for a great afternoon nap. 
      When I'm not outdoors, I’m all about crocheting, knitting, or bringing my woodworking designs to life.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
